<%= form_with(model: music) do |form| %>
  <% if music.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(music.errors.count, "error") %> prohibited this music from being saved:</h2>

      <ul>
        <% music.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block", class: 'form_label' %>
    <%= form.text_area :image, class: 'form_text_area' %>
  </div>

  <div>
    <%= form.label :name, style: "display: block", class: 'form_label' %>
    <%= form.text_field :name, class: 'form_text_area' %>
  </div>

  <div>
    <%= form.label :artist, style: "display: block", class: 'form_label' %>
    <%= form.text_field :artist, class: 'form_text_area' %>
  </div>

  <div>
    <%= form.label :description_music, style: "display: block", class: 'form_label' %>
    <%= form.text_area :description_music, class: 'form_text_area' %>
  </div>

  <div>
    <%= form.label :biography_artist, style: "display: block", class: 'form_label' %>
    <%= form.text_area :biography_artist, class: 'form_text_area' %>
  </div>

  <div>
    <%= form.label :link, style: "display: block", class: 'form_label' %>
    <%= form.text_area :link, class: 'form_text_area' %>
  </div>
  <div>
    <%= form.label :spotify_id, style: "display: block", class: 'form_label' %>
    <%= form.text_area :spotify_id, class: 'form_text_area' %>
  </div>


  <div>
    <%= form.submit 'Submit', class: 'form_submit' %>
  </div>
<% end %>
