<div id="<%= dom_id music %>">
  <p>
    <strong>Image:</strong>
    <%= music.image %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= music.name %>
  </p>

  <p>
    <strong>Artist:</strong>
    <%= music.artist %>
  </p>

  <p>
    <strong>Description music:</strong>
    <%= music.description_music %>
  </p>

  <p>
    <strong>Biography artist:</strong>
    <%= music.biography_artist %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= music.link %>
  </p>

  <p>
    <strong>Spotify:</strong>
    <%= music.spotify_id %>
  </p>

</div>
