
<%# Partie header %>
<section class="header">
    <h1>Spotart</h1>
    <p class="description">Vous voulez connaître l’histoire des musiques et des artistes ? Tant mieux, vous êtes au bon endroit ! </p>
    <a href="#">
        <p class="decouvrir">Découvrez leur histoire </p>
        <img src="../../assets/images/fleche_bas.png" alt="flèche vers le bas">
    </a>
</section>


<%# Partie musique %>
<section class="musics">
    <%# affiche la boite d'une musique %>
    <div class="container">
        <div class="row ligne_musics">
            <div id="musics col-4">
                <% @musics.each do |music| %>
                <img src=" <%= music.image %> " alt="image de la musique">
                <div>
                    <p> <%= music.name %> </p>
                    <p> <%= music.artist %> </p>
                    <button><a href=" <%= link_to 'Découvrir l’histoire', music %> "></a></button>
                </div>
                <% end %>
            </div>
        </div>
    </div>
    
    

</section>




<%= link_to "New music", new_music_path %>
