
<%# Partie header %>
<section class="header ">
  <div class="container">
    <div class="row">
        <div class="col-6">
            <h1>Spotart</h1>
            <p class="description">Vous voulez connaître l’histoire des musiques et des artistes ? Tant mieux, vous êtes au bon endroit !</p>
        </div>
        <div class="nouveaux_header col-6">
          <%= image_tag("nouveaux_artistes.png", alt: "image qui représente des nouveaux artistes", class: "nouveaux_artistes") %>
          <p>LES NOUVEAUTES</p>
        </div>
    </div>
      <p class="decouvrir">Découvrez leur histoire </p>
      <a href="#musics"><%= image_tag("fleche_bas.png", class: "fleche_bas") %></a>
  </div>
</section>


<%# Partie musique %>
<section class="musics" id="musics">
  <div class="container">
    <%# affiche la boite d'une musique %>
    <div class="row">
      <% @musics.each do |music| %>
        <div class="ligne_musics col-md-4">
            <div class="music">
                <div class="music_img">
                    <img src=" <%= music.image %> " alt="image de la musique">
                </div>
                <div class="music_description">
                   <p> <%= music.name %> </p>
                   <p> <%= music.artist %> </p>
                    <%= link_to 'Découvrir l’histoire', music, class: 'music_lien' %>
                </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="container">
    <div class="music_div_new row">
      <%= link_to "New music", new_music_path, class: 'music_new col-md-2' %>
    </div>
  </div>
</section>


