<h1>Coucou</h1>
<p style="color: green"><%= notice %></p>

<%= render @music %>
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/<%= @music.spotify_id %>?utm_source=generator" width="100%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
<div>
  <%= link_to "Edit this music", edit_music_path(@music) %> |
  <%= link_to "Back to musics", musics_path %>

  <%= button_to "Destroy this music", @music, method: :delete %>
</div>
